#form-error-msg {
    text-align: center; 
    border: 1px solid #8b0000; 
    padding: 10px; 
    margin: 0; 
    border-radius: 5px; 
    background-color: #ffcccc; 
    color: #8b0000;
    animation: vibration 0.1s ease 5 alternate;
}

@keyframes vibration {
    from {
        transform: translateX(-4px);
    }
    to {
        transform: translateX(4px);
    }
}
